**/src
**/pkg
**/*.tar.xz
**/*.tar.xz.sig
**/*.tar.gz
**/*.pkg.tar
**/accountsservice/
**/qtpim/
**/telepathy-qt/
**/click/
**/cmake-extras/
**/qdjango/
**/libusermetrics/
**/libqtdbustest/
**/lomiri-api/
**/lomiri-app-launch/