**/src
**/pkg
**/*.tar.xz
**/*.tar.xz.sig
**/*.tar.gz
**/*.pkg.tar
**/accountsservice/
**/qtpim/
**/telepathy-qt/
**/click/
**/qdjango/
**/libusermetrics/
**/libqtdbustest/
**/lomiri-api/
**/lomiri-app-launch/
**/lomiri-url-dispatcher/
**/lomiri-notifications/
**/lomiri-telephony-service/
**/suru-icon-theme/
**/lomiri-ui-toolkit/
**/buteo-syncfw-qml/
**/libaccounts-qt/
**/lomiri-download-manager/
