**/src
**/pkg
**/*.tar.xz
**/*.tar.bz2
**/*.tar.xz.sig
**/*.tar.gz
**/*.pkg.tar
**/accountsservice/
**/qtpim/
**/telepathy-qt/
**/click/
**/qdjango/
**/libusermetrics/
**/libqtdbustest/
**/lomiri-api/
**/lomiri-app-launch/
**/lomiri-url-dispatcher/
**/lomiri-notifications/
**/lomiri-telephony-service/
**/suru-icon-theme/
**/lomiri-ui-toolkit/
**/buteo-syncfw-qml/
**/libaccounts-qt/
**/lomiri-download-manager/
**/libertine/
**/lomiri-content-hub/
**/libqtdbusmock/
**/gsettings-qt/
**/qmenumodel/
**/geonames/
**/deviceinfo/
**/repowerd/
ofono-git/ofono-git/
ofono-git/ell/
**/gmenuharness/
**/lomiri-indicator-network/
**/qtmir/
**/trust-store/
**/biometryd/
**/libayatana-common/
**/ayatana-indicator-datetime/
**/lomiri-history-service/
**/lomiri-address-book-service/
